*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizard.settings.xml
.setting/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin
.vscode
*.zip
web_player_preview.html
album_art_neon_lights_*.png
